.body {
    position: relative;
}

.saving {
    padding: 10px;
    border: 1px solid #000;
    margin: 10px auto;
    text-align: center;
    background-color: #ddeedd;
    opacity: 1;
    transition: opacity 0.1s ease-in;
}

.hide {
    opacity: 0;
}

.label {
    margin: 0 0 10px 10px;
    text-transform: capitalize;
}

.id {
    border: 1px solid #aaa;
    background-color: #eee;
    margin: 0 0 10px 10px;
    padding: 5px;
}

.idHide {
 display: none;
}