.overlay {
    width: 100%;
    min-height: 100%;
    position: absolute;
    background-color: rgba(256, 256, 256, 0.7);
    overflow: auto;
    top: 0;
    left: 0;
}

.body {
    width: 80%;
    position: relative;
    margin: 50px auto 50px auto;
    background-color: rgb(256, 256, 256);
    border: 1px solid #666666;
}

.header {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
}

.close {
    position: absolute;
    right: 4px;
    top: 2px;
    cursor: pointer;
    height: 14px;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
}

.title {
    font-size: 18px;
    line-height: 26px;
    height: 26px;
}

.hidden {
    display: none;
}

.container {
 margin: 40px 0;
 padding: 20px;
}

.buttonGroup {

}